<div class="card">
  <div class="card_top">
    <div class="card_head_left">

      <div class="card_menu">
        <mat-icon [mat-menu-trigger-for]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="delete($event, habit)">Delete card</button>
        </mat-menu>
      </div>

      <div class="card_head">
        <div class="card_title">{{habit.title}}</div>
        <div *ngIf="(habit.description?.length || 0) > 80" class="card_description"
             [title]="habit.description">{{habit.description | slice:0:80}}...
        </div>
        <div *ngIf="(habit.description?.length || 0) <= 80" class="card_description"
             [title]="habit.description">{{habit.description}}</div>
      </div>
    </div>
    <div class="card_head_right">
      <div class="marker">
        <input type="checkbox" name="marker" id="marker">
      </div>
    </div>
  </div>

  <div class="card_stats">
    <div class="total_checkins">
      <div class="total_checkins_value">{{habit.markedDays.size}}</div>
      <div class="total_checkins_title">Total checkins</div>
    </div>
    <div class="stickiness">
      <div class="stickiness_value">0%</div>
      <div class="stickiness_title">Stickiness</div>
    </div>
  </div>

  <div class="card_bottom">
    <div class="sheet">
      <div class="months">
        <span class="month" *ngFor="let month of months">{{month}}</span>
      </div>

      <ul class="days">
        <li *ngFor="let cell of cells | keyvalue">
          <div [class]="cell.value ? 'day_marked' : 'day_unmarked'" [title]="cell.key"
               (click)="onCellClicked($event, cell)"></div>
        </li>
      </ul>
      <div class="hint">
        Click on the cell to mark/unmark the date
      </div>
    </div>
  </div>

</div>
