* {
  background-color: #f1f1f1;
  min-height: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
